body{
	/* background-image: url("../images/background.png"); */
	background-color: black;
	color:#e3dac9;
	font-family: 'Vollkorn SC', serif;
}



.wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 940px;
  grid-auto-columns: 25%;
  grid-auto-rows: minmax(100px, auto);
 /* border-style: solid; */
}

#instructions{
	font-family: 'Vollkorn', serif;
	font-size: 18px;
}


.one {
  grid-column: 1 / 5;
  grid-row: 1;
  text-align: center;
  font-family: 'Vollkorn SC', serif;
  /* border-style: solid; */
}

.two {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  font-family: 'Vollkorn SC', serif;
  /* border-style: solid; */
  height: 100px;
}

.three {
  grid-column: 3;
  grid-row: 2;
/*   border-style: solid; */
  text-align: center;
  height: 100px;
}
/* 
.four {
  grid-column: 1 / 5;
  grid-row: 3;
  border-style: solid;
} */

.crystal{
	margin-right: auto;
	margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#crystalA{
	grid-row: 3;
	grid-column: 1;
	/* border-style: solid; */

}

#crystalB{
	grid-row: 3;
	grid-column: 2;
	/* border-style: solid; */

}

#crystalC{
	grid-row: 3;
	grid-column: 3;
	/* border-style: solid; */

}

#crystalD{
	grid-row: 3;
	grid-column: 4;
	/* border-style: solid; */

}

.five {
  grid-column: 2;
  grid-row: 4;
  text-align: center;
 /*  border-style: solid; */
}
.six {
  grid-column: 3;
  grid-row: 4;
  text-align: center;
  /* border-style: solid; */
}


